<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title></title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white" id="navigation">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-                            controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/add">Add New</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/reports">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/collections">Collections</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settings">Settings</a>
                </li>
              </ul>
              <div class="mx-5"> 
              <div class="btn-group mr-5 mx-5">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ current_user.username }}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/change_password">Change Password</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </nav>


        <div class="Messages">
          {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="body">

        {% block content %} {% endblock %}

        </div>

      <div class="footer bg-dark text-center text-white">
        2021 &copy; Copyright
      </div>

      <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script defer src="{{url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
