{% extends "index.html" %}

{% block content %}

<div class="container-fluid">
  <div class="collection-table">
    <h3 class="title">Collections</h3>
    <div class="coll-table">
    <table class="table table-success table-striped mt-4 mb-5 text-center">
      <tr class="text-center justify-content-center">
        <th class="text-center">Branch</th>
        <th>Loan No</th>
        <th>Name</th>
        <th>Expected DOR</th>
        <th>Remarks</th>
        <th>Action</th>
      </tr>
      {% for key in all_keys %}
        <tr>
        <td>{{ key.branch }}</td>
        <td>{{ key.loan_no }}</td>
        <td>{{ key.name }}</td>
        <td>{{ key.expected_date_of_return }}</td>
        <td>{{ key.remarks }}</td>
        <td>
          <form method="POST" action="/reassign">
            {{ reassign_form.csrf_token() }}
            {{ reassign_form.recepient }}
            {{ reassign_form.key_id(value=key.id) }}
            {{ reassign_form.submit(class="btn btn-primary") }}
          </form>
        </td>
       </tr>
        {% endfor %}
    </table>
    </div>
  </div>
  <div class="field">
    <h3 class="title">Field Officers</h3>
    <div class="field-table">
    <table class="table table-success table-striped mt-4 mb-5 text-center">
       <tr class="text-center justify-content-center">
         <th class="text-center">Branch</th>
         <th>Loan No</th>
         <th>Name</th>
         <th>Expected DOR</th>
         <th>Remarks</th>
         <th>Key With</th>
         <th>Action</th>
       </tr>
     
       {% for key in keys_with_field_officers %}
         <tr>
          <td>{{ key.branch }}</td>
          <td>{{ key.loan_no }}</td>
          <td>{{ key.name }}</td>
          <td>{{ key.expected_date_of_return }}</td>
          <td>{{ key.remarks }}</td>
          <td>{{ key.recepient }}</td>
          <td>
            <form method="POST" action="" class="mx-3">
              {{ inward_form.csrf_token() }}
              {{ inward_form.inward(class="btn btn-primary") }}
              {{ inward_form.key_id(value=key.id) }}
            </form>
          </td>
         </tr>
        {% endfor %}
      </table>
      </div>
  </div>
</div>

{% endblock %}
