{% extends "index.html" %}

{% block content %}

<div class="container-fluid">
  <div class="lower mt-4">
      <table class="table table-success table-striped table-hover">
        <tr>
          <th>Branch</th>
          <th>ID</th>
          <th>Loan No</th>
          <th>Name</th>
          <th>Expected DOR</th>
          <th>Remarks</th>
          <th>Key With</th>
          <th>Action</th>
        </tr>
        {% for key in all_keys %}
        <tr>
        <td>{{ key.branch }}</td>
        <td>{{ key.id }}</td>
        <td>{{ key.loan_no }}</td>
        <td>{{ key.name }}</td>
        <td>{{ key.expected_date_of_return }}</td>
        <td>{{ key.remarks }}</td>
        <td>{{ key.recepient }}</td>
        <td>
          <form method="POST">
            {{ form.csrf_token() }}
            {{ form.inward(class="btn btn-primary action") }}
            {{ form.key_id(value=key.id) }}
          </form>
        </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
